<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Bienvenido a  los Autobuses  ></h1>
<p>
Tu  ha sido registrado satisfactoriamente y su identificador es:

</p>
<p>
Conformidad y seguridad
</p>

<p>¡Hasta el próximo capítulo!</p>
</body>
</html>